.imgcont{
    margin-left: 50px;
}

h2{
    display: flex;
    justify-content: start;
}

.user{
    display: flex;
    justify-content: center;
}

p{
    font-size: 25px;
}

section{
    display: inline;
    border: 1px solid #3498db;
    width: 250px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}